body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #B4B4B4;
	vertical-align: top;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

h1 {
	font-style: italic;
	color: #FFFFFF;
	z-index: auto;
	position: static;
}
ul {
	list-style-type: circle;
	font-size: xx-small;
	list-style-position: inside;
}
a {
	font-size: 8pt;
	font-family: verdana, sans-serif;
	font-style: normal;
	text-decoration: none;
}
td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 7pt;
}
.td-content {
	font-family: verdana, sans-serif;
	vertical-align: top;
	text-indent: 0px;
	background-color: #FFFFFF;
	font-size: 9px;
}

td.labelcell {
	background-color: #E6E6E6;
	vertical-align: top;
	font-size: 7pt;
}

td.labelcellmid {
	background-color: #E6E6E6;
	vertical-align: middle;
	font-size: 7pt;
}


td.ctrlcell {
	width: 80%;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px
}

.menucell {
	background-image: url(/theme/coyote/menuitem.gif);
	background-repeat: no-repeat;
	color: #FFFFFF;
	width: 163px;
	font-family: verdana, sans-serif;
	font-size: 8pt;
	height: 19px;
	text-align: left;
	vertical-align: middle;
	text-indent: 3px;
}

.applymenucell {
	background-image: url(/theme/coyote/applymenuitem.gif);
	background-repeat: no-repeat;
	color: #FFFFFF;
	width: 163px;
	font-family: verdana, sans-serif;
	font-size: 8pt;
	height: 19px;
	text-align: left;
	vertical-align: middle;
	text-indent: 3px;
}

.submenucell {
	background-image: url(/theme/coyote/submenuitem.gif);
	background-repeat: no-repeat;
	color: #FFFFFF;
	width: 163px;
	font-family: verdana, sans-serif;
	font-size: 8pt;
	height: 19px;
	text-align: left;
	vertical-align: middle;
	text-indent: 20px;
}

.descriptiontext {
	font-family: verdana, sans-serif;
	color: #666666;
	font-size: 7pt;
}

.menulink {
	font-family: verdana, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
	text-decoration: none;
}

.applymenulink {
	font-family: verdana, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
	text-decoration: none;
}

.menulink:hover {
	color: #F5F5F5;
}

.norep {
	background-repeat: no-repeat;
}

.yrep {
	background-repeat: repeat-y;
}

.wolvbanner {
	position: absolute;
	left: 174px;
	top: 44px;
}

.bannertext {
	font-family: verdana, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #B4B4B4;
	font-style: italic;
}

img {
	border: none;
}

.formctrl {
	font-family: verdana, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #B4B4B4;

}
.maintable {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;

}

input[type="text"], input[type="password"], input[type="select"] {
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-top: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	border-color: #b4b4b4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000000;
}

input[type="checkbox"], input[type="radio"] {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	text-indent: 1px;
	color: #000000
}

input {
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	text-indent: 1px;
	color: #000000
}

select {
	border: thin solid #B4B4B4;
	font-family: verdana, sans-serif;
	font-size: 7pt;
}

textarea {
	font-family: verdana, sans-serif;
	font-size: 7pt;
	border: thin solid #B4B4B4;
}

form#content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
}

label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bolder;
	text-align: right;
}

span.invalid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bolder;
	color: #FF0000;
}

pre {
	font-family: "lucida console", terminal, courier, monospace;
	font-size: 8pt;
	font-weight: normal;
}

a.inline {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: #0000FF;
}

a.footerbutton {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 9pt;
		font-weight: bolder;
		color: #FFFFFF;
}
